version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: cs_farm_ui
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5173
